<h2 class="PageHeader">Material autocomplete example</h2>
<button style="position: absolute; top:10px; right:20px; cursor:pointer;" [routerLink]="['/Home']">X</button>

<div class="card" style="width:80vw; margin: 0 auto;">
    <mat-label style="margin-left: 10px;">Message types</mat-label>
    <div style="display: flex; align-items: center; gap: 16px;">
        <mat-checkbox [(ngModel)]="messageTypesMap['METAR']" name="metar">METAR</mat-checkbox>
        <mat-checkbox [(ngModel)]="messageTypesMap['SIGMET']" name="sigmet">SIGMET</mat-checkbox>
        <mat-checkbox [(ngModel)]="messageTypesMap['TAF_LONGTAF']" name="taf">TAF</mat-checkbox>
    </div>

    <mat-form-field class="example-chip-list" style="width: 100%; margin-top: 20px;">
        <mat-label>Airports</mat-label><br/>
        <mat-chip-grid #airportChipGrid aria-label="Enter airport ICAO code">
            <mat-chip-row  
                title="{{getAirportTitle(airport)}}"
                *ngFor="let airport of selectedAirports"
                (removed)="removeAirport(airport)"
                [editable]="true"
                (edited)="editAirport(airport, $event)"
                >
                {{airport}}
                <button matChipRemove [attr.aria-label]="'remove ' + airport"><small>✖</small></button>
            </mat-chip-row>

            <input
                #airportInput
                matInput 
                placeholder="Type airport ICAO..."
                [matChipInputFor]="airportChipGrid"
                [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                (matChipInputTokenEnd)="addAirportFromInput($event)"
                [matAutocomplete]="autoAirport"
                style="width:100%;"
                (input)="onInputAirports($event)"
                (keydown)="onKeydownAirports($event)"
            />
            <mat-autocomplete #autoAirport="matAutocomplete" (optionSelected)="onSelectAirport($event, airportInput)">
                <mat-option *ngFor="let airport of suggestionsAirports" [value]="airport">
                    {{airport}} ({{ getAirport(airport).airport }})
                </mat-option>
            </mat-autocomplete>
        </mat-chip-grid>
    </mat-form-field>

    <mat-form-field class="example-chip-list" style="width: 100%;">
        <mat-label>Countries</mat-label><br/>
        <mat-chip-grid #chipGridCountry aria-label="Enter Country WMO code">
            <mat-chip-row  
                title="{{getCountryTitle(Country)}}"
                *ngFor="let Country of selectedCountries"
                (removed)="removeCountry(Country)"
                [editable]="true"
                (edited)="editCountry(Country, $event)"
                >
                {{Country}}
                <button matChipRemove [attr.aria-label]="'remove ' + Country"><small>✖</small></button>
            </mat-chip-row>

            <input
                #CountryInput
                matInput 
                placeholder="Type Country WMO..."
                [matChipInputFor]="chipGridCountry"
                [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                (matChipInputTokenEnd)="addCountryFromInput($event)"
                [matAutocomplete]="autoCountry"
                style="width:100%;"
                (input)="onInputCountries($event)"
                (keydown)="onKeydownCountries($event)"
            />
            <mat-autocomplete #autoCountry="matAutocomplete" (optionSelected)="onSelectCountry($event, CountryInput)">
                <mat-option *ngFor="let country of suggestionsCountries" [value]="country">
                    {{country}} ({{ getCountry(country).country }})
                </mat-option>
            </mat-autocomplete>
        </mat-chip-grid>
    </mat-form-field>

    <div style="text-align: right; margin-top: 10px;">
        <button style="margin: 20px;" (click)="UpdateTable()" [disabled]="(!messageTypesMap['METAR'] && !messageTypesMap['SIGMET'] && !messageTypesMap['TAF_LONGTAF']) || (selectedAirports.length==0 && selectedCountries.length == 0)">Create briefing</button>
    </div>
</div>

<div *ngIf="errorMessage!=''" style="margin-top: 20px; text-align: center; color:red">{{errorMessage}}</div>

<ng-container *ngIf="tableData | keyvalue as keyValues">
  <p *ngIf="tableData!=null && keyValues.length === 0" style="margin-top: 20px; text-align: center;">No records returned.</p>
</ng-container>

<div style="width: 80vw; margin: 20px auto;">

<table mat-table [dataSource]="tableData | keyvalue" style="background-color: white;">
    <ng-container matColumnDef="key">
        <td mat-cell *matCellDef="let element">
            <div style="background-color:#F5F5F5;padding:8px 12px;color:rgba(0,0,0,0.87);font-family:Roboto,'Helvetica Neue',sans-serif; line-height: 40px; font-weight: bold;">{{ element.key }}</div>
            <table mat-table [dataSource]="element.value">
                <ng-container matColumnDef="queryType">
                    <td mat-cell *matCellDef="let v" style="width:200px">{{ v.queryType }}</td>
                </ng-container>
                <ng-container matColumnDef="reportTime">
                    <td mat-cell *matCellDef="let v" style="width:200px">{{ v.reportTime | date: 'dd. MM. yyyy HH:mm:ss' }}</td>
                </ng-container>
                <ng-container matColumnDef="textCustomHTML">
                    <td mat-cell *matCellDef="let v" [innerHTML]="v.textCustomHTML">
                    </td>
                </ng-container>

                <tr mat-row *matRowDef="let row; columns: ['queryType', 'reportTime', 'textCustomHTML']"></tr>
            </table>
        </td>
    </ng-container>
    <tr mat-row *matRowDef="let row; columns: ['key'];"></tr>
</table>




